<div id="{% block CSSId %}{% endblock %}" class="panel {% block CSSClass %}{% endblock %}">
	{% set _block = block('header') %}
	{% if _block is not empty %}
	<header class="panel-heading">
	    {{ _block|raw }}
	</header>
	{% endif %}
	<div class="panel-body">
		{% block content %}{% endblock %}
	</div>
</div>

