<div id="{% block CSSId %}{% endblock %}" class="card {% block CSSClass %}{% endblock %}">
	{% set _block = block('header') %}
	{% if _block is not empty %}
	<header class="card-header">
	    {{ _block|raw }}
	</header>
	{% endif %}
	<div class="card-block">
		{% block content %}{% endblock %}
	</div>
</div>

