# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#______________________________________
# TODO : remove ?
    app.phpdoc_type_guesser:
        class: AppBundle\Form\TypeGuesser\PHPDocTypeGuesser
        tags:
            - { name: form.type_guesser }
        arguments: ["@doctrine"]
#______________________________________
# command
    homeplanet.command.game_process:
        class: homeplanet\command\GameProcess
        tags: 
            - { name: console.command }
    homeplanet.command.character_init:
        class: homeplanet\command\CharacterInit
        tags: 
            - { name: console.command }
#______________________________________
# twig 
    app.twig.tool:
        class: AppBundle\Twig\Tool
        tags:
            - { name: twig.extension }
    app.twig.printo:
        class: AppBundle\Twig\Printo
        tags:
            - { name: twig.extension }
    app.twig.fix:
        class: AppBundle\Twig\Fix
        tags:
            - { name: twig.extension }

#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]
