{% extends 'page/index.html.twig' %}


{% block page_content %}
<div class="row">
	<div class="col-12 col-sm-6 offset-sm-3">
	{% embed 'bootstrap/panel.html.twig' %}
    			
		{% block header %}Connexion{% endblock %}
    	
		{% block content %}
			{#
				{% form_theme form 'form/theme-main.html.twig' %}
			#}
			{% form_theme form 'bootstrap_3_layout.html.twig' %}
			{{ form_start(form) }}
				{{ form_widget(form) }}
			{{ form_end(form) }}
		{% endblock %}
	{% endembed %}
	</div>
</div>
	
{% endblock %}
