@CHARSET "UTF-8";

.map {
	width: 100%;
}

.map td {
	position: relative;
}
.map .map-cell {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.map .map-cell:hover {
	background-color: red;
}
/*
.map .terrain-0-0 {
	background-color: green;
}

.map .terrain-0-1 {
	background-color: green;
}

.map .terrain-0-2 {
	background-color: green;
}

.map .terrain-0-3 {
	background-color: green;
}*/

.map .map-cell-highlight {
	border: 1px inset yellow;
}

.map .sprite {
	width: 100%;
	height: 100%;
	/*background-size: 800% 6400%; case atlas*/
	background-size: 100%;
	box-sizing: border-box;
	z-index: 1;
	display: block;
}

.sprite-production {
	width: 25%!important;
	height: 25%!important;
	background-color: black;
}

.sprite-city {
	background-size: 100%;
	background-image: url('http://vignette2.wikia.nocookie.net/thesettlersonline/images/3/38/Icon_settlers2hq.png/revision/latest?cb=20131120213525');
}
.sprite-cell-wrapper>.icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.map-cell {
	cursor: pointer;
}

.map-cell[data-valid="true"]{
	border: 1px solid yellow;
}
.map-cell[data-valid="false"]{
	cursor: not-allowed;
}


.icon {
	position: relative;
	/*
	top: 1px;
	*/
	vertical-align: bottom;
	display: inline-block;
	width: 1em;
	height: 1em;
	font-size: 1.5em;
}

.sprite {
	width: 100%;
	height: 100%;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.btn>.icon {
	vertical-align: middle;
}

.ress-sprite {
	font-size: 16px !important;
}

[class*='icon-credit-']:before{
	content: "\2666";
}
[class*='icon-credit-']{
	position: relative;
	left: -1px;
}
.icon-credit-0 {
	color: #B87333;
	text-shadow: 2px 0px 0px #f0a056;
}
.icon-credit-1 {
	color: grey;
	text-shadow: 2px 0px 0px silver;
}
.icon-credit-2 {
	color: gold;
	text-shadow: 2px 0px 0px yellow;
}
.icon-credit-3 {
	color: #00A86B;
	text-shadow: 2px 0px 0px #00DA8B;
}
