@CHARSET "UTF-8";
/*___________________________
	GENERIC style*/

body {
	background-image: url('/gigablaster/img/square_bg.png');
	/*background-image: url('/gigablaster/img/images.png');*/
	
	/*animation-name: body-bg-slow;
	animation-timing-function: linear;
	animation-duration: 30s;
	animation-iteration-count: infinite;
*/
}

@keyframes body-bg-slow {
    0%   { background-position: 0% 0%; }
    100% { background-position: 252px 0%; }
}

/*___________________________
	UTILS style*/
	
.clickable {
	cursor: pointer;
}

.hightlighted {
	background-color: rgb(230, 230, 230);
	border: 2px solid rgb(255, 171, 171);
}

.bg-light {
	color: black;
	background-color: #F0F0F0;
}

.bg-dark {
	color: white;
	background-color: rgb(38, 38, 38);
}

.title {
	font-weight: bold;
}
.red {
	color: #CC0000;
}
.shadow-red {
	box-shadow: 2px 0px 0px #BC0000;
}

.btn-action {
	border: 2px solid black;
	border-radius: 5px;
	background-color: red;
	color: black;
}

.bg-red {
	background-color: red;
}
.bg-lgrey {
	background-color: #EEE;
}

.box-nav {
	border-top: 3px solid rgb(38, 38, 38);
	background-color: silver;
	box-shadow: 0px 4px rgba(189, 189, 189, 0.46);
}
.box-white {
	border: 1px solid silver;
	background-color: white;
}

.fadeIn {
	animation-name: fadeIn;
	animation-timing-function: linear;
	animation-duration: 1s;
	animation-iteration-count: 1; 
}
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*___________________________
	THEME style*/

.menu-h>ul>li>a:hover {
	background-color: grey;
	color: white;
}
/*
.btn {
	transition: 0.2s;
	
	box-shadow: 3px 3px 0px black;
	
	color: white;
	font-weight: bold;
	
	cursor: pointer;
	
	background-color: blue;
}
.btn:hover {
	box-shadow: none;
	background-color: lightblue;
}*/

/*
TODO use Less
*/

/*.list-group-item.active,.list-group-item.active:focus,.list-group-item.active:hover*/ 
.radio-button-input:checked+label.list-group-item
{
	z-index:2;
	color:#fff;/*@list-group-active-color*/
	background-color:#337ab7;	/*@list-group-active-bg*/
	border-color:#337ab7;	/*@list-group-active-border*/
}
.radio-button-input:checked+label.list-group-item .list-group-item-heading,
.radio-button-input:checked+label.list-group-item .list-group-item-heading>.small,
.radio-button-input:checked+label.list-group-item .list-group-item-heading>small,
.radio-button-input:checked+label.list-group-item:focus .list-group-item-heading,
.radio-button-input:checked+label.list-group-item:focus .list-group-item-heading>.small,
.radio-button-input:checked+label.list-group-item:focus .list-group-item-heading>small,
.radio-button-input:checked+label.list-group-item:focus .list-group-item-heading,
.radio-button-input:checked+label.list-group-item:focus .list-group-item-heading>.small,
.radio-button-input:checked+label.list-group-item:focus .list-group-item-heading>small {
	color:inherit;
}
.radio-button-input:checked+label.list-group-item .list-group-item-text,
.radio-button-input:checked+label.list-group-item:focus .list-group-item-text,
.radio-button-input:checked+label.list-group-item:hover .list-group-item-text {
	color:#c7ddef;
}


.radio-button-input:disabled+label.list-group-item,
.radio-button-input:disabled+label.list-group-item:focus,
.radio-button-input:disabled+label.list-group-item:hover {
	color:#777;
	cursor:not-allowed;
	background-color:#eee
}
.radio-button-input:disabled+label.list-group-item .list-group-item-heading,
.radio-button-input:disabled+label.list-group-item:focus .list-group-item-heading,
.radio-button-input:disabled+label.list-group-item:hover .list-group-item-heading {
	color:inherit
}
.radio-button-input:disabled+label.list-group-item .list-group-item-text,
.radio-button-input:disabled+label.list-group-item:focus .list-group-item-text,
.radio-button-input:disabled+label.list-group-item:hover .list-group-item-text {
	color:#777
}

/*___________________________
	SPECIFIC */

.radio-char {
	display: none;
}
.radio-char+label {
	padding: 11px;
	cursor: pointer;
}
.radio-char:checked+label {
	color: red;
	border:1px solid;
	border-radius: 3px;
	padding: 10px;
}
