/*_____________________________________________________________________________
 * FontAwesome */

@import "../../../vendor/components/font-awesome/scss/font-awesome";

/*_____________________________________________________________________________
 * Bootstrap */
 /* TODO: use set import path*/

// Core variables and mixins
@import "../../../vendor/twbs/bootstrap/scss/variables";
@import "../../../vendor/twbs/bootstrap/scss/mixins";
@import "../../../vendor/twbs/bootstrap/scss/custom";

// Reset and dependencies
@import "../../../vendor/twbs/bootstrap/scss/normalize";
@import "../../../vendor/twbs/bootstrap/scss/print";

// Core CSS
@import "../../../vendor/twbs/bootstrap/scss/reboot";
@import "../../../vendor/twbs/bootstrap/scss/type";
@import "../../../vendor/twbs/bootstrap/scss/images";
@import "../../../vendor/twbs/bootstrap/scss/code";
@import "../../../vendor/twbs/bootstrap/scss/grid";
@import "../../../vendor/twbs/bootstrap/scss/tables";
@import "../../../vendor/twbs/bootstrap/scss/forms";
@import "../../../vendor/twbs/bootstrap/scss/buttons";

// Components
@import "../../../vendor/twbs/bootstrap/scss/transitions";
@import "../../../vendor/twbs/bootstrap/scss/dropdown";
@import "../../../vendor/twbs/bootstrap/scss/button-group";
@import "../../../vendor/twbs/bootstrap/scss/input-group";
@import "../../../vendor/twbs/bootstrap/scss/custom-forms";
@import "../../../vendor/twbs/bootstrap/scss/nav";
@import "../../../vendor/twbs/bootstrap/scss/navbar";
@import "../../../vendor/twbs/bootstrap/scss/card";
@import "../../../vendor/twbs/bootstrap/scss/breadcrumb";
@import "../../../vendor/twbs/bootstrap/scss/pagination";
@import "../../../vendor/twbs/bootstrap/scss/badge";
@import "../../../vendor/twbs/bootstrap/scss/jumbotron";
@import "../../../vendor/twbs/bootstrap/scss/alert";
@import "../../../vendor/twbs/bootstrap/scss/progress";
@import "../../../vendor/twbs/bootstrap/scss/media";
@import "../../../vendor/twbs/bootstrap/scss/list-group";
@import "../../../vendor/twbs/bootstrap/scss/responsive-embed";
@import "../../../vendor/twbs/bootstrap/scss/close";

// Components w/ JavaScript
@import "../../../vendor/twbs/bootstrap/scss/modal";
@import "../../../vendor/twbs/bootstrap/scss/tooltip";
@import "../../../vendor/twbs/bootstrap/scss/popover";
@import "../../../vendor/twbs/bootstrap/scss/carousel";

// Utility classes
@import "../../../vendor/twbs/bootstrap/scss/utilities";

/*_____________________________________________________________________________
 * Bootstrap fix */
 
 .card-header + .list-group .list-group-item:first-of-type {
  border-top: none;
}
.card-header + .list-group .list-group-item:last-of-type {
  border-bottom: none;
}

// Fix .list-group-item > .row
.list-group,
.list-group-item{
	display:block;
}
 
.btn {
	cursor: pointer;
}

a.list-group-item {
	color: $body-color;
}

// @source stackoverflow.com/questions/34450586/justify-buttons-with-bootstrap-v4
.btn-group-justified {
	display: flex;
	width: 100%;
	.btn,
	.btn-group {
		flex: 1;
		.btn {
			width: 100%;
		}
		.dropdown-menu {
			left: auto;
		}
	}
}

/*_____________________________________________________________________________
 * Theme */

$conver-aspect-0: purple;	// persuade
$conver-aspect-1: #ff6300;	// coerce
$conver-aspect-2: #4e4eff;		// convince
$conver-aspect-3: green;	// charm

//_____________________________________
//	General

body, table { // table to fix fa inherit TODO: find better fix
	font-size: 15px;
}

a:hover, a:focus {
	text-decoration: none;
}

//_____________________________________
//	Conversation

.color-aspect-0 {
	color: $conver-aspect-0;
}
.color-aspect-1 {
	color: $conver-aspect-1;
}
.color-aspect-2 {
	color: $conver-aspect-2;
}
.color-aspect-3 {
	color: $conver-aspect-3;
}

.badge-aspect-0 {
	border: 2px solid $conver-aspect-0;
	background-color: $conver-aspect-0;
}
.badge-aspect-1 {
	border: 2px solid $conver-aspect-1;
	background-color: $conver-aspect-1;
}
.badge-aspect-2 {
	border: 2px solid $conver-aspect-2;
	background-color: $conver-aspect-2;
}
.badge-aspect-3 {
	border: 2px solid $conver-aspect-3;
	background-color: $conver-aspect-3;
}

.badge-aspect-0.disabled,
.badge-aspect-1.disabled,
.badge-aspect-2.disabled,
.badge-aspect-3.disabled {
	color: inherit;
	background-color: white;
}
