/*_____________________________________________________________________________
 * FontAwesome */

@import "../../../vendor/components/font-awesome/scss/font-awesome";

/*_____________________________________________________________________________
 * Bootstrap */
 /* TODO: use set import path*/

// Core variables and mixins
@import "../../../vendor/twbs/bootstrap/scss/variables";
@import "../../../vendor/twbs/bootstrap/scss/mixins";
@import "../../../vendor/twbs/bootstrap/scss/custom";

// Reset and dependencies
@import "../../../vendor/twbs/bootstrap/scss/normalize";
@import "../../../vendor/twbs/bootstrap/scss/print";

// Core CSS
@import "../../../vendor/twbs/bootstrap/scss/reboot";
@import "../../../vendor/twbs/bootstrap/scss/type";
@import "../../../vendor/twbs/bootstrap/scss/images";
@import "../../../vendor/twbs/bootstrap/scss/code";
@import "../../../vendor/twbs/bootstrap/scss/grid";
@import "../../../vendor/twbs/bootstrap/scss/tables";
@import "../../../vendor/twbs/bootstrap/scss/forms";
@import "../../../vendor/twbs/bootstrap/scss/buttons";

// Components
@import "../../../vendor/twbs/bootstrap/scss/transitions";
@import "../../../vendor/twbs/bootstrap/scss/dropdown";
@import "../../../vendor/twbs/bootstrap/scss/button-group";
@import "../../../vendor/twbs/bootstrap/scss/input-group";
@import "../../../vendor/twbs/bootstrap/scss/custom-forms";
@import "../../../vendor/twbs/bootstrap/scss/nav";
@import "../../../vendor/twbs/bootstrap/scss/navbar";
@import "../../../vendor/twbs/bootstrap/scss/card";
@import "../../../vendor/twbs/bootstrap/scss/breadcrumb";
@import "../../../vendor/twbs/bootstrap/scss/pagination";
@import "../../../vendor/twbs/bootstrap/scss/badge";
@import "../../../vendor/twbs/bootstrap/scss/jumbotron";
@import "../../../vendor/twbs/bootstrap/scss/alert";
@import "../../../vendor/twbs/bootstrap/scss/progress";
@import "../../../vendor/twbs/bootstrap/scss/media";
@import "../../../vendor/twbs/bootstrap/scss/list-group";
@import "../../../vendor/twbs/bootstrap/scss/responsive-embed";
@import "../../../vendor/twbs/bootstrap/scss/close";

// Components w/ JavaScript
@import "../../../vendor/twbs/bootstrap/scss/modal";
@import "../../../vendor/twbs/bootstrap/scss/tooltip";
@import "../../../vendor/twbs/bootstrap/scss/popover";
@import "../../../vendor/twbs/bootstrap/scss/carousel";

// Utility classes
@import "../../../vendor/twbs/bootstrap/scss/utilities";

/*_____________________________________________________________________________
 * Bootstrap fix */
 
 .card-header + .list-group .list-group-item:first-of-type {
  border-top: none;
}
.card-header + .list-group .list-group-item:last-of-type {
  border-bottom: none;
}

// Fix .list-group-item > .row
.list-group,
.list-group-item{
	display:block;
}
 
.btn {
	cursor: pointer;
}

a.list-group-item {
	color: $body-color;
}

// @source stackoverflow.com/questions/34450586/justify-buttons-with-bootstrap-v4
.btn-group-justified {
	display: flex;
	width: 100%;
	.btn,
	.btn-group {
		flex: 1;
		.btn {
			width: 100%;
		}
		.dropdown-menu {
			left: auto;
		}
	}
}

// Implemented in later version
.badge-light {
	color: #111;
	background-color: #f8f9fa;
}

/*_____________________________________________________________________________
 * Utils */

.active>.hidden-active {
	display: none;
}

:not(.active)>.hidden-inactive {
	display: none;
}

/*_____________________________________________________________________________
 * Theme */

$conver-aspect-0: purple;	// persuade
$conver-aspect-1: #ff6300;	// coerce
$conver-aspect-2: #4e4eff;		// convince
$conver-aspect-3: green;	// charm

//_____________________________________
//	General

body, table { // table to fix fa inherit TODO: find better fix
	font-size: 15px;
}

a:hover, a:focus {
	text-decoration: none;
}

//_____________________________________
//	Homeplanet

.sovereign-banner {
	display: inline-block;
	position: relative;
	width: 1em;
	height: 1.2em;
	z-index: 10000;
	box-sizing: content-box;
 	
	text-align: center;
 	
 	border-width: 0.2em;
 	border-style: solid;
	border-top: 0;
	
	font-weight: bold;
}
.sovereign-banner>span {
	content: ' ';
 	
	display: block;
	position: absolute;
	bottom: -0.67em;
	left: 0.00em;
 	
	width: 0.707em;
	height: 0.707em;
 	
	z-index: -10;
 	
	box-sizing: content-box;
 	
	transform: rotate(45deg);
 	
 	border-width: 0.2828em;
 	border-style: solid;
 	
	border-color: inherit;
 	
	border-top: 0;
	border-left: 0;
 	
	background-color: inherit;
}

//_____________________________________
//	Conversation

.color-aspect-0 {
	color: $conver-aspect-0;
}
.color-aspect-1 {
	color: $conver-aspect-1;
}
.color-aspect-2 {
	color: $conver-aspect-2;
}
.color-aspect-3 {
	color: $conver-aspect-3;
}

.bg-aspect-0 {
	background-color: $conver-aspect-0;
	color: white;
}
.bg-aspect-1 {
	background-color: $conver-aspect-1;
	color: white;
}
.bg-aspect-2 {
	background-color: $conver-aspect-2;
	color: white;
}
.bg-aspect-3 {
	background-color: $conver-aspect-3;
	color: white;
}
.border-aspect-0 {
	border: 2px solid  $conver-aspect-0;
}
.border-aspect-1 {
	border: 2px solid  $conver-aspect-1;
}
.border-aspect-2 {
	border: 2px solid  $conver-aspect-2;
}
.border-aspect-3 {
	border: 2px solid  $conver-aspect-3;
}

.badge-aspect-0 {
	border: 2px solid $conver-aspect-0;
	background-color: $conver-aspect-0;
}
.badge-aspect-1 {
	border: 2px solid $conver-aspect-1;
	background-color: $conver-aspect-1;
}
.badge-aspect-2 {
	border: 2px solid $conver-aspect-2;
	background-color: $conver-aspect-2;
}
.badge-aspect-3 {
	border: 2px solid $conver-aspect-3;
	background-color: $conver-aspect-3;
}

.badge-aspect-0.disabled,
.badge-aspect-1.disabled,
.badge-aspect-2.disabled,
.badge-aspect-3.disabled {
	color: inherit;
	background-color: white;
}

.card-expression {
	width: 200px;
}

.medal-debate {
	z-index: 1000;
	font-size: 2em;
	position: relative;
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.25em;
	margin-top: -15px;
	margin-bottom: -5px;
}

.countered {
	border: 5px solid red !important;
}
