<div class="row">
<div class="col-xs-6" style="padding-right:0;">
	{% embed 'homeplanet/element/map_zoom1.html.twig' %}
	{% endembed %}
</div>
<div class="col-xs-6" style="padding-left:0;">
	{% embed 'homeplanet/element/map_zoom0.html.twig' %}
	{% endembed %}
</div>
</div>