{#
	@param Location location location highlighted on the map
#}
<table class="map hajust-square" style="background-image: url('{{ url('planet_test') }}');background-size: 100% 100%;">
<tbody>
	{% for y in 12..0 %}
	<tr>
		{% for x in 0..12 %}
			{% set highlighted = (
				gameview.location is not empty and   
				(
					gameview.location.getRegionX() == x and 
					gameview.location.getRegionY() == y 
				) ) ? 
					'background-color: green' : ''
			%}
			<td class="" style="{{ highlighted }}">
			 {# TODO : don't use block in loop #}
				{% block map_cell %}
					<a class="map-cell" href="?location={{ (x*13+6)~':'~(y*13+6) }}">
					</a>
				{% endblock %}
			</td>
		{% endfor %}
	</tr>
	{% endfor %}
</tbody>
</table>
<script>
// hajust speed boost
var aElement = document.getElementsByClassName('hajust-square');
for( var i; i<aElement.length; i++ )
    aElement[i].style.height = aElement[i].offsetWidth;
</script>
