{#
	@param Location location location highlighted on the map
#}
<table class="map hajust-square" style="background-image: url('planet_test');background-size: 100% 100%;">
<tbody>
	{% for y in 12..0 %}
	<tr>
		{% for x in 0..12 %}
			{% set oTile = gameview.map.getTile( x, y ) %}
			{% set highlighted = (
				location is not empty and   
				(
					location.getRegionX() == x and 
					location.getRegionY() == y 
				) ) ? 
					'background-color: green' : ''
			%}
			<td class="" style="{{ highlighted }}">
				{% block map_cell %}
					<a class="map-cell" href="?location={{ (x*13+6)~':'~(y*13+6) }}">
					</a>
				{% endblock %}
			</td>
		{% endfor %}
	</tr>
	{% endfor %}
</tbody>
</table>