{% extends 'homeplanet/page/game.html.twig' %}


{% block page_content %}

<div class="card">
<div class="card-header">
	{{ character.label }}
</div>
<div class="card-block">
	{{ printo(character.body) }}
	{% for history in character.historyAr %}
	   {{ printo(history) }}
	{% endfor %}
</div>
</div>


{% endblock %}
