{% extends 'homeplanet/page/game.html.twig' %}


{% block page_content %}
<div class="container">
	<div class="row">
		<div class="col-12 col-sm-10 offset-sm-1">
		{% embed 'bootstrap/panel.html.twig' %}
			{% block header %}
				{{ title|default('') }}
			{% endblock %}
			{% block content %}
				{{ form(form) }}
			{% endblock %}
		{% endembed %}
		</div>
	</div>
</div>
{% endblock %}
