{% extends 'homeplanet/page/game.html.twig' %}

{% block page_content %}
<div class="card">
	<div class="card-header">
		World map
	</div>
	<div class="card-block">
		<div class="row">
			<div class="col-6" style="padding-right:0;">
				{% include 'homeplanet/element/map_zoom1.html.twig' with gameview %}
			</div>
			<div class="col-6" style="padding-left:0;">
				{% include 'homeplanet/element/map_zoom0.html.twig' with gameview %}
			</div>
		</div>
	</div>
	<div class="card-header">
		Location detail ({{ gameview.location  }})
	</div>
	<div class="card-block">
		{% set x = gameview.location.getX() %}
		{% set y = gameview.location.getY() %}
		{% set oTile = gameview.worldmap.getTile( x, y ) %}
		{{ printo(oTile, { gameview: gameview } ) }}
	</div>
	{% if city != null %}
	<div class="card-header">
		City at {{ gameview.location }}
	</div>
	<div class="card-block">
		{{ printo(city) }}
	</div>	
	{% endif %}
</div>

{% endblock page_content %}
