<span class="border-1 rounded-circle p-2" style="background-color: hsl({{ o.skinHue0 }},100%,50%)">
    <span class="border border-dark rounded-circle p-2" style="background-color: hsl({{ o.eyeHue }},100%,50%); height: 1em; width:1em;display: inline-block;"></span>
    _
    <span class="border border-dark rounded-circle p-2" style="background-color: hsl({{ o.eyeHue }},100%,50%); height: 1em; width:1em;display: inline-block;"></span>
</span>