{% import 'homeplanet/macro/commun.twig' as commun %}

<div class="row">
<div class="col-12">
	{{ o.label }}
</div>
{% for expression in o.expressionAr %}
<div class="col-3">
	{{ printo( expression, {_suffix:'summary'} ) }}
</div>
{% endfor %}
</div>