
<a href="{{ path('house_view', {'id': o.id} ) }}">
	<span class="sovereign-banner" style="
		color: black;
		background-color: red;
		border-color: black;
	">S<span></span></span>
	{{ o.label }}
</a>