{% import 'homeplanet/macro/commun.twig' as commun %}
<span class="badge badge-pill badge-point-{{ o.type }}" 
	style="{{ 
	param.conversation is defined 
	and !o.validate( param.conversation ) 
	? 'border: 1px solid red' }}"
	>
{{ o.value }}
</span>


{# {{ commun.credit( oDemand.getPrice() ) }} #}